<div class="border border-dark">
  <div class="bg-info border-bottom border-dark">
    <h5 class="ml-2"><strong>記事を投稿</strong></h5>
  </div>
  <div class="bg-white text-center">
    <%= link_to "新規投稿", new_admin_item_path, class: "border border-dark btn btn-secondary rounded-0 my-3" %>
  </div>
</div>