<div class="shadow-sm">
  <h5 class="contents-head"><strong>記事を投稿</strong></h5>
  <div class="bg-white text-center">
    <%= link_to "新規投稿", new_admin_item_path, class: "border border-dark btn btn-secondary btn-lg rounded-0 my-3" %>
  </div>
</div>