<table class="table table-borderless bg-white mb-0">
  <thead class="contents-head">
    <tr>
      <th>機種検索</th>
    </tr>
  </thead>
  <tbody>
    <%= form_with url: url, local: true, method: :get do |f| %>
      <tr>
        <td class="input-group">
          <%= f.search_field :word, class: 'form-control', placeholder: "機種を検索" %>
          <%= button_tag type: 'submit', class: "search-botton" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>