<div class="border border-dark">
  <div class="bg-info border-bottom border-dark">
    <h5 class="ml-2"><strong>検索</strong></h5>
  </div>
  <div class="bg-white p-2">
    <%= search_form_for q, url: admin_search_path, local: true do |f| %>
      <%#= f.select :range, options_for_select([["機種名",'item'],["メーカー",'maker']]) %>
      <%= f.text_field :title_or_body_cont %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</div>