<h2>Results index</h2>

<table class="table bg-white mb-0">
  <% if @range == "name" %>
    <thead class="bg-deepskyblue">
      <tr>
        <th><%= params[:q] %>の検索結果</th>
      </tr>
    </thead>
    <tbody>
      <% @item_names.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @maker_names.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>