/*フッターを画面下に固定する*/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

/*placeholderの色を薄くする*/
::placeholder {
  font-size: 0.75em;
  color: #dfdfdf !important
}

/*table-border-darkクラスでtableの枠線の色を黒にする*/
.table-border-dark th, .table-border-dark td {
  border: 1px solid #808080 !important;
}

/*装飾*/

header {
  background-color: #ffffff !important
}

footer {
  background-color: #ffffff  !important
}

body{
  height: 100%;
  background-color: #fcfcfc !important
}

.login-card {
  width:20%;
}

/*参考になった装飾*/
.favorite-btn {
  background-color: #fff;
  padding: 0 8px 0 8px;
  font-size: 14px;
  line-height: 2;
  border: solid 1px #09e;
}

.favorite-count {
  border-left: solid 1px #09e;
  padding-left: 8px;
}

/*背景色*/
.bg-gainsboro {
  background-color: #dcdcdc;
}

.contents-head {
  background-color: #00bfff;
  color: #ffffff;
  padding: 8px 10px 5px;
  margin-bottom: 0px;
  line-height: 1.5;
}