/*プリコンパイル用*/
/*body {*/
/*  background-image: url("../images/hoge.jpg");*/
/*}*/

/*基本装飾*/

header {
  background-color: #ffffff !important
}

footer {
  background-color: #ffffff  !important
}

body{
  height: 100%;
  background-color: #fcfcfc !important
}

.link-style-none {
  text-decoration: none!important;
  color: inherit;
}

.link-hover >a:hover {
  color: #000!important;
}
/*ここまで基本装飾*/

/*フッターを画面下に固定する*/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}
/*ここまでフッターの固定*/

/*placeholderの装飾*/
::placeholder {
  font-size: 0.75em;
  color: #dfdfdf !important
}
/*ここまでplaceholderの装飾*/

/*tableクラス系の装飾*/

  /*table-border-darkクラスでtableの枠線の色を黒にする*/
  .table-border-dark th, .table-border-dark td {
    border: 1px solid #808080 !important;
  }
  
  /*thを灰色にする（主にshowビューで使用）*/
  .show-table th {
    background-color: #dcdcdc;
  }
  
  /*セル全体をリンクにする*/
  .cell-link {
    padding: 0 !important;
    height: 0 !important;
  }
  
  .cell-link a{
    height: 100%;
    padding: 10px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none !important;
    flex-flow: column;
    line-height: 15px;
  }
  
  .cell-link small{
    font-size: 60%;
    color: #808080;
  }
  /*セル全体をリンクにする終了*/

/*ここまでtableクラスの装飾*/

/*ログイン画面の装飾*/
.login-card {
  width:20%;
}
/*ここまでログイン画面の装飾*/

/*参考になった装飾*/
.favorite-btn {
  background-color: #fff;
  padding: 0 8px 0 8px;
  font-size: 14px;
  line-height: 2;
  border: solid 1px #09e;
}

.favorite-count {
  border-left: solid 1px #09e;
  padding-left: 8px;
}

.favorited-btn {
  background-color: #09e;
  color: #fff !important;
  padding: 0 8px 0 8px;
  font-size: 14px;
  line-height: 2;
  border: solid 1px #09e;
}

.favorited-btn .favorite-count {
  border-left: solid 1px #fff;
  padding-left: 8px;
}

.favorited-btn a {
  color: #fff!important;
}
/*参考になった装飾終了*/

/*気になるボタン装飾*/
.interest-btn {
  background-color: #7fffd4;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}

.interest-btn a {
  display: block;
}

.interest-btn svg {
  background-color: #fff;
  width: 30px!important;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  margin-left: 3px;
}

.interested-btn {
  background-color: #7fffd4;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}

.interested-btn a {
  display: block;
}

.interested-btn svg {
  background-color: #fff;
  width: 30px!important;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  margin-left: 3px;
  color: #ffd700;
}
/*気になるボタン装飾終了*/

/*任意の背景色*/
.bg-gainsboro {
  background-color: #dcdcdc;
}
/*ここまで任意の背景色*/

/*コンテンツの装飾*/
.contents-head {
  background-color: #00bfff;
  color: #ffffff;
  padding: 8px 10px 5px;
  margin-bottom: 0px;
  line-height: 1.5;
}
/*コンテンツの装飾終了*/

/*検索ボタンの装飾*/
.search-botton {
  background-color: #00bfff;
  color: #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #0086d0;
}
/*検索ボタンの装飾終了*/

/*スライドの装飾*/
.admin-swiper {
  width: 360px;
  height: 250px;
}

.public-swiper {
  width: 210px;
  height: 250px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: var(--swiper-navigation-sides-offset, 0px)!important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #808080;
  font-size: 20px!important;
  opacity: 0.7;
}
/*ここまでスライドの装飾*/