<div class="">
  <table class="table bg-white mb-0">
    <thead class="bg-deepskyblue">
      <tr>
        <th>メーカー</th>
      </tr>
    </thead>
    <tbody>
      <% makers.each do |maker| %>
        <tr>
          <td><%= link_to maker.name, maker_path(maker.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>