<div class="">
  <table class="table bg-white mb-0">
    <thead class="bg-deepskyblue">
      <tr>
        <th>OS</th>
      </tr>
    </thead>
    <tbody>
      <% operation_systems.each do |operation_system| %>
        <tr>
          <td><%= link_to operation_system.name, operation_system_path(operation_system.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>