<table class="table table-borderless bg-white shadow-sm mb-0">
  <thead class="contents-head">
    <tr>
      <th>メニュー</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "機種一覧", admin_root_path %></td>
    </tr>
    <tr>
      <td><%= link_to "カテゴリ一覧", admin_categories_path %></td>
    </tr>
    <tr>
      <td><%= link_to "会員一覧", admin_users_path %></td>
    </tr>
  </tbody>
</table>