<table class="table bg-white">
  <thead class="bg-gainsboro">
    <th>ID</th>
    <th>名前</th>
    <th>登録日</th>
    <th>ステータス </th>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, admin_user_path(user.id) %></td>
        <td><%= user.created_at.strftime("%Y年%m月%d日") %></td>
        <td>
          <% if user.is_deleted == true %>
            <strong class="text-danger">退会済み</strong>
          <% else %>
            <strong class="text-secondary">利用中</strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mx-auto mt-3">
  <%= paginate users %>
</div>