<% if user_signed_in? %>
  <% unless current_user.email == "guest@example.com" %>
    <!--気になる追加している場合-->
    <% if item.finished_by?(current_user) %>
      <div class="interested-btn">
        <%= link_to item_interests_path(item), method: :delete, remote: true, class: "text-decoration-none text-dark" do %>
          <span class="d-flex align-items-center justify-content-center">気になる <i class="fas fa-star"></i></span>
        <% end %>
      </div>
    <!--気になる追加していない場合-->
    <% else %>
      <div class="interest-btn">
        <%= link_to item_interests_path(item), method: :post, remote: true, class: "text-decoration-none text-dark" do %>
          <span class="d-flex align-items-center justify-content-center">気になる <i class="far fa-star"></i></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>