<div class="container">
  <div class="row">
    
    <div class="col-3">
      <%= render "public/searches/form" %>
    </div>
    
    <div class="col-6">
      <div class="container">
        <h4><strong>記事一覧</strong></h4>
        
        <% @items.each do |item| %>
          <!--非公開記事は表示しない-->
          <% if item.is_draft == false %>
            <%= render "card", item: item %> 
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="col-3">
      <%= render "layouts/new_list", items: @items %>
    </div>
    
  </div>
</div>