<footer class="text-center bg-secondary">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav line-list text-white">
        <li><%= link_to "スマレビュトップ", root_path, class: "link-style-none" %></li>
        <li><%= link_to "使い方", about_path, class: "link-style-none" %></li>
      </ul>
    </nav>
  </div>
</footer>